/*
Errno::ENOENT: No such file or directory - scss/_layout.scss

Backtrace:
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:482:in `read'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/plugin.rb:108:in `method_missing'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:349:in `watch_or_update'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/exec/base.rb:40:in `parse'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.3/bin/sass:13:in `<top (required)>'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - scss/_layout.scss"; }
